# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Results and output
results/
*.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/
ENV/
.venv/
